*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Neue Machina';
    font-style: normal;
    scroll-behavior: smooth;
}
body.active{
    transition: all 0.4s ease-in-out;
    background: #000000;
}
.harborger{
    display: none;
    cursor: pointer;
    z-index: 100;
    transition: 0.3s ease-in-out;
}
.harborger .bar{
    width: 25px;
    height: 3px;
    background: #000000;
    margin: 3px auto;
    transition: 0.3s ease-in-out;
}
header.active .container nav .harborger .bar{
    transition: all 0.4s ease-in-out;
    background: #FAFCFD;
}
.harborger .bar:nth-child(3){
    width: 14px;
    margin-right: 0;
}
.container{
    max-width: 80%;
    margin: auto;
}
header nav{
    padding-top: 25px;
}
header nav, header nav ul, .about .about1 ul,
.core .core1 ul, .contact-down ol{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
header nav.active .logo a, header nav.active ul li a{
    transition: all 0.4s ease-in-out;
    color: #FAFCFD;
}
header nav .logo a{
    color: #321201;
    font-weight: 800;
    font-size: 24px;
    line-height: 39px;
}
header nav ul li a{
    font-weight: 400;
    font-size: 14px;
    line-height: 39px;
    color: #321201;
}
header nav ul li:nth-child(3) a{
    font-weight: 800;
}
.link li{
    position: relative;
}
.link li::before{
    content: '';
    position: absolute;
    background: #EFEFEF;
    width: 0;
    height: 2px;
    bottom: 0;
    transition: all 0.3s ease-in-out;
}
.link li:hover::before{
    width: 100%;
}
/* about */
.about{
    padding: 100px 0px 50px;
}
.about h1, .core h1{
    font-weight: 800;
    font-size: 57px;
    line-height: 39px;
    color: #000000;
    padding: 10px 0px 40px;
}
.about.active h1, .about.active p{
    transition: all 0.4s ease-in-out;
    color: #FAFCFD;
}
.about .about1, .core .core1 ul{
    padding: 50px 0;
    border: 4px solid #D9D9D9;
    border-left: transparent;
    border-right: transparent;
    font-weight: 400;
    font-size: 24px;
    line-height: 39px;
    color: #DFDDDD;
}
.about.active .about1, .core.active .core1 ul{
    transition: all 0.4s ease-in-out;
    border-color: #F7F6F6;
}
.about p{
    color: #000000;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    padding: 20px 0px;
}
.about .row .image .bright{
    margin: auto;
    cursor: pointer;
    position: absolute;
    font-size: 50px;
    top: 70%;
    right: 70px;
}
.about .row .image .bright .white{
    color: #F9FBFE;
}
.about .row .image .bright .black{
    display: none;
    color: #131218;
}
.about .row .image .bright.active{
    right: 75px;
}
.about .row .image .bright.active .white{
    display: none;
}
.about .row .image .bright.active .black{
    /* transition: all 0.4s ease-in-out; */
    display: block;
}

/* rotate */
.about .row .image{
    height: 100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle{
    /* margin: auto; */
    top: 0;
    right: 0;
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-rotate{
    position: absolute;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background: #321201;
    transition: all 0.3s ease-in-out;
}
.about.active .logo-rotate{
    transition: all 0.4s ease-in-out;
    background: #FAFCFD;
}
.about.active .row .image .circle .text p{
    color: #FAFCFD;
}
.about .row .image .circle .text p{
    color: #2E1305;
    font-weight: 300;
    font-size: 5.05801px;
    line-height: 8px;
}
.text{
    position: absolute;
    width: 100%;
    height: 100%;
    animation: rotateTxt 10s linear infinite;
    transition: all 0.3s ease-in-out;
}
@keyframes rotateTxt{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.text span{
    position: absolute;
    left: 49%;
    top: -8%;
    transform-origin: 0 100px;
    transition: all 0.3s ease-in-out;
}

/* Core */
.core, .work{
    padding: 50px 0px;
}
.core.active h1, .core.active li{
    transition: all 0.4s ease-in-out;
    color: #F7F6F6;
}
.core h1:nth-child(2){
    color: #F7F6F6;
    font-size: 64px;
}
.core.active h1:nth-child(2){
    color: #FC884B;
}
.core .skills{
    padding: 0px 0px 70px;
}
.core .skills ol{
    color: #000000;
    font-weight: 300;
    font-size: 16px;
    line-height: 45px;
}
.core .skills ol li{
    list-style: decimal-leading-zero;
}
.core .core1 h1{
    color: #F7F6F6;
}
.core .core1 ul{ 
    color: #000000;
}

/* Experience */
.work h1, .school h1{
    color: #000000;
    font-size: 57px;
}
.work.active li, .work.active p, .work.active h5{
    transition: all 0.4s ease-in-out;
    color: #F7F6F6;
}
.work.active h1{
    color: #FC884B;
}
.work h3, .school h3{
    color: #DFDDDD;
    font-size: 24px;
}
.work h1, .work h3, .school h3{
    font-weight: 800;
    line-height: 39px;
}
.work .experience, .school .education{
    padding: 40px 0px;
}
.work .experience .col .work1,
.school .education .col .work1{
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
.work .experience .col .work1{
    padding: 20px 0px;
}
.work .experience .col .work1 p,
.work .experience .col .work1 ol,
.school .education .col .work1 p{
    font-weight: 300;
}
.work .experience .col .work1 ol{
    line-height: 45px;
}
.work .experience .col .work1 ol li{
    list-style: lower-roman;
}
.work .col, .school .col{
    display: flex;
    gap: 50px;
    align-items: center;
}
.contain{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: url(bx-briefcase.svg) no-repeat center;
    border: 0.39411px solid #000000;;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.work.active .contain, .school.active .contain{
    border: 0.39411px solid #FAFBFE;
    background: url(bx-briefcase-white.png) no-repeat center;
    background-size: 50%;
    transition: all 0.4s ease-in-out;
}
#text, #text1, #text2, #text3, #text4, #text5{
    height: 80px;
    font-size: 9px;
    animation: animate 5s linear infinite;
}
@keyframes animate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
    }
}
.contain span, .school span{
    position: absolute;
    transform-origin: 0 40px;
}


/* school */
.school.active p, .school.active h5{
    color: #F7F6F6;
    transition: all 0.4s ease-in-out;
}
.school.active h1{
    color: #FC884B;
    transition: all 0.4s ease-in-out;
}
.school{
    padding: 10px 0px 50px;
}
.school h3{
    line-height: 0px;
}
.school .col{
    padding: 20px 0px;
}

/* information */
.info{
    text-align: center;
}
.info h1{
    color: #2B3A41;
    font-weight: 800;
    font-size:  57px;
    line-height: 50px;
}
.info.active p{
    color: #F7F6F6;
    transition: all 0.4s ease-in-out;
}
.info.active h1{
    color: #FC884B;
    transition: all 0.4s ease-in-out;
}
.info p{
    padding: 20px 0px;
    max-width: 70%;
    margin: auto;
    font-weight: 300;
    font-size: 48px;
    line-height: 60px;
    color: #000000;
}
.info .col1{
    padding: 20px 0px 50px;
    border-bottom: 4px solid #D9D9D9;
}
.info.active .col1{
    padding: 20px 0px 50px;
    border-bottom-color: #F7F6F6;
    transition: all 0.4s ease-in-out;
}
.info.active .col1 h1{
    color: #F7F6F6;
    transition: all 0.4s ease-in-out;
}
.info .col1 h3{
    color: #FC884B;
    font-weight: 800;
    font-size: 24px;
    line-height: 39px;
    padding-top: 10px;
}

/* contact */
.contact-down{
    padding: 15px 0px;
}
.contact-down ol{
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.0015em;
}
.contact-down ol li a{
    color: #2B3A41;
}
.contact-down.active ol li a{
    color: #F7F6F6;
    transition: all 0.4s ease-in-out;
}
.contact-down ol li a i{
    transform: rotate(120deg);
}



.textbrigh{
    display: none;
    position: fixed;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    cursor: pointer;
    top: 20%;
    right: 10%;
    background-color: #321201;
    transition: all 0.3s ease-in-out;
    z-index: 105;
}
.textbrigh.active{
    transition: all 0.3s ease-in-out;
    background: #FAFCFD;
}
.textbrigh img{
    width: 60%;
}
/* header .container{
    position: relative;
    overflow: hidden;
} */