*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 90%;
    margin: 20px auto;
}
.content{
    display: flex;
    padding-left: 20px;
    margin-top: 50px;
}
.left{
    position: relative;
    height: 100%;
    padding: 0px 50px 50px;
    /* width: 20px; */
    /* background: yellow; */
}
.line{
    position: absolute;
    bottom: 0;
    left: 40%;
    width: 20px;
    height: 50px;
    /* border: 2px solid black;
    border-radius: 10px; */

}
.line::after, .line::before{
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    border: 2px solid black;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -100%) rotate(45deg);
    border-left: transparent;
    border-top: transparent;
    animation: scroll-down 1s ease-in-out infinite;
}
.line::before{
    top: 40%;
    animation-delay: 0.5s;
}
@keyframes scroll-down {
    0%{
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        top: 70%;
    }
    
}
.left span{
    display: block;
    width: 5px;
    height: 60vh;
    background: rgb(169, 168, 168);
}
.left span:nth-child(2){
    position: sticky;
    top: 10px;
    scroll-behavior: smooth;
    background: black;
    height: 25vh;
    bottom: 10px;
}
.right{
    width: 500px;
}